<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 네트워크 상태 확인 권한 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 정밀한 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 대략적 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".JJOreumApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/oreum"
        android:label="@string/app_k_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/oreum"
        android:supportsRtl="true"
        android:theme="@style/Theme.JJOreum"
        tools:targetApi="31">

        <!--마켓 출시하기 전에 삭제할 것-->
        <profileable android:shell="true" />

        <activity
            android:name=".presentation.ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>